div.poll {
  // border: 1px solid var(--primary-low);
    margin: 1em 0;
    background: linear-gradient(#803af7, #500cc4);
    border-radius: 3px;
    box-shadow: 0px 5px 11px -7px var(--primary);
    text-align: center;
    border-radius: 1em;

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
  }

  li {
    cursor: pointer;
    font-size: $font-up-1;
  }

  li[data-poll-option-id] {
    color: var(--secondary);
    display: inline-block;
    width: 20%;
    border: 2px solid var(--secondary);
    border-radius: 5em;
    padding: 1em 4em;
    margin: 1em;
    text-align: center;
    margin-bottom: 2em;

    li:nth-child(1){
        margin-left: 300px;
    }

    svg.d-icon {
        display: none !important;
    }

    @media all and (max-width: 600px) {
      padding: 1em 2.4em;
    }
  }

  li:hover {
      color: #803af7;
      background: var(--secondary);
  }

  img {
    // Hacky way to stop images without width/height
    // from causing abrupt unintended scrolling
    &:not([width]):not(.emoji),
    &:not([height]):not(.emoji) {
      width: 200px !important;
      height: 200px !important;
      object-fit: contain;
    }
  }

  .poll-info {
    color: var(--secondary);
    vertical-align: middle;
    padding: 1em 0;

    .info-label {
      font-size: var(--font-down-1-rem);
      line-height: $line-height-medium;
    }

    .info-text {
      margin: 0.25em 0;
      display: block;
    }
  }

  .poll-container {
    vertical-align: middle;
    padding: 0.5em 1em;

    .poll-results-number-rating {
      font-size: $font-up-5;
      color: var(--secondary);
    }
  }

  .poll-buttons {
    .info-text {
      margin: 0.25em 0;
      color: var(--primary-medium);
    }
    .info-text + .info-text,
    button + .info-text {
      margin-left: 0.5em;
    }

  }

  .poll-voters:not(:empty) {
    min-height: 30px;
    margin-bottom: 0.25em;

    li {
      display: inline;
    }
  }

  .poll-voters-toggle-expand {
    width: 100%;
    text-align: center;

    .spinner {
      margin-top: 0.25em;
    }
  }

  .results {
    > li {
      cursor: default;
      color: var(--secondary);
      font-size: 1em;
      width: 240px;
      display: inline-block;
      margin: auto;
      padding: 0.25em .5em;
      text-align: left;
      &:last-child {
        padding-bottom: 0;
      }
    }

    li:hover {
        color: var(--secondary);
        background: none;
    }

    .option {
      p {
        margin: 0;
      }
    }

    .percentage {
      float: right;
      color: var(--secondary);
      margin-top: 60px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .bar-back {
      background: var(--primary-low);
    }

    .bar {
      height: 2em;
      background: var(--primary-medium);
      margin-bottom: 1em;
    }

    .chosen .bar {
      background: var(--discord);
    }
  }

  &[data-poll-type="number"] {
    li[data-poll-option-id] {
      display: inline-block;
      width: 3.25em;
      margin-right: 0.25em;
    }
  }

  .pie-chart-legends {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;

    .legend {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      margin-left: 1em;
      font-size: var(--font-down-0);
      color: var(--secondary);

      .swatch {
        margin-right: 0.5em;
        display: inline-block;
        height: 16px;
        width: 16px;
      }
    }
  }

  .poll-grouped-pies-controls {
    display: flex;
    justify-content: space-between;
  }

  .poll-results-chart {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .poll-show-breakdown {
    margin-bottom: 0.25em;
  }
}

div.poll.pie {
  .poll-container {
    display: inline-block;
  }
  .poll-info {
    display: inline-block;
    width: 150px;
  }
}

// hides 0 vote count in crawler and print view
body.crawler {
  .poll {
    .poll-info,
    .poll-button {
      display: none;
    }
  }
}

div.poll {
  // display: table;
  // width: 100%;
  // box-sizing: border-box;

  .poll-info {
    // min-width: 150px;
    // width: 100%;
    // display: table-cell;

    .info-number {
      font-size: 1em;
    }

    p {
      margin: -55px;
    }

    .info-label {
      display: block;
    }
  }

  .poll-container {
    // display: table-cell;
    // width: 100%;
    // border-right: 1px solid var(--primary-low);
  }

  .poll-title {
    // border-bottom: 1px solid var(--primary-low);
    margin: 0 1em 1em 1em;
    padding: 0.5em 0;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--secondary);
  }

  .poll-buttons {
    // border-top: 1px solid var(--primary-low);
    padding: 1em;
    display: flex;
    flex-direction: row;

    .info-text {
      line-height: 2em;
    }

    .btn {
        background: none;
        color: var(--secondary)
    }

    svg {
        color: var(--secondary) !important;
    }

    button:not(:first-child) {
      margin-left: 0.5em;
    }

    .btn-danger.toggle-status {
      margin-left: auto;
    }
  }
}

div.poll.pie {
  .poll-container {
    // width: calc(100% - 190px);
    margin-top: 4em;
  }

  .poll-info {
    display: inline;
    // width: 150px;
    color: var(--secondary);

  }
}

.d-editor-preview {
  .poll-buttons {
    a:not(:first-child) {
      margin-left: 0.25em;
    }
  }

  .poll {
    li[data-poll-option-id]:before {
      position: relative;
      vertical-align: baseline;
      border: 2px solid var(--primary);
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5em;
      width: 12px;
      height: 12px;
      padding: 1em;
      content: "";
    }

    &[data-poll-type="multiple"] {
      li[data-poll-option-id]:before {
        border-radius: 3px;
      }
    }
  }
}
