div.poll {
  // display: table;
  // width: 100%;
  // box-sizing: border-box;

  .poll-info {
    // min-width: 150px;
    // width: 100%;
    // display: table-cell;

    .info-number {
      font-size: 1em;
    }

    // p {
    //   margin: 0.5em 0;
    // }

    .info-label {
      display: block;
    }
  }

  .poll-container {
    // display: table-cell;
    // width: 100%;
    // border-right: 1px solid var(--primary-low);
  }

  .poll-title {
    // border-bottom: 1px solid var(--primary-low);
    margin: 0 1em 1em 1em;
    padding: 0.5em 0;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: var(--secondary);
  }

  .poll-buttons {
    // border-top: 1px solid var(--primary-low);
    padding: 1em;
    display: flex;
    flex-direction: row;

    .info-text {
      line-height: 2em;
    }

    .btn {
        background: none;
        color: var(--secondary)
    }

    svg {
        color: var(--secondary) !important;
    }

    button:not(:first-child) {
      margin-left: 0.5em;
    }

    .btn-danger.toggle-status {
      margin-left: auto;
    }
  }
}

div.poll.pie {
  .poll-container {
    // width: calc(100% - 190px);
  }

  .poll-info {
    display: inline;
    margin: 2em 1em 1em 1em;
    // width: 150px;
    color: var(--secondary);
  }
}

.d-editor-preview {
  .poll-buttons {
    a:not(:first-child) {
      margin-left: 0.25em;
    }
  }

  .poll {
    li[data-poll-option-id]:before {
      position: relative;
      vertical-align: baseline;
      border: 2px solid var(--primary);
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5em;
      width: 12px;
      height: 12px;
      padding: 1em;
      content: "";
    }

    &[data-poll-type="multiple"] {
      li[data-poll-option-id]:before {
        border-radius: 3px;
      }
    }
  }
}
